In [1]:
#Multiple Linear Regression
#Our dataset is 50 startup (50_Startups.csv)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#importing the data set
df = pd.read_csv (r"C:\Users\HP\Python-Class-Advanced\Assignment8\50_Startups.csv")
#print the dataset
print(df)

        Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
#display the top 5 rows in the dataset
print(df.head(5))

       Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#display the last 5 rows in the data frame
print(df.tail(5))

      Spend  Administration  Marketing Spend       State    Profit
45  1000.23       124153.04          1903.93    New York  64926.08
46  1315.46       115816.21        297114.46     Florida  49490.75
47     0.00       135426.92             0.00  California  42559.73
48   542.05        51743.15             0.00    New York  35673.41
49     0.00       116983.80         45173.06  California  14681.40

In [5]:
#display the essential information relating to the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Spend            50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [7]:
#retrieve the count of rows and columns in the data set
df.shape

(50, 5)

In [8]:
#display the columns from the dataset
df.columns

Index(['Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [9]:
#checking for missing values in the dataset
df.isnull().sum()

Spend              0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [10]:
#get a summary of the distribution of the continous variables
df.describe()

               Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [11]:
#determine if there is any relationship between the variables
df.corr()

                    Spend  Administration  Marketing Spend    Profit
Spend            1.000000        0.241955         0.724248  0.972900
Administration   0.241955        1.000000        -0.032154  0.200717
Marketing Spend  0.724248       -0.032154         1.000000  0.747766
Profit           0.972900        0.200717         0.747766  1.000000

In [15]:
#Start of multiple linear regression exercise

X = df.iloc[:, :-1].values
y = df.iloc[:, 4].values #Letâ€™s look at the data: dataset.head()
print(X)

[[165349.2 136897.8 471784.1 'New York']
 [162597.7 151377.59 443898.53 'California']
 [153441.51 101145.55 407934.54 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [142107.34 91391.77 366168.42 'Florida']
 [131876.9 99814.71 362861.36 'New York']
 [134615.46 147198.87 127716.82 'California']
 [130298.13 145530.06 323876.68 'Florida']
 [120542.52 148718.95 311613.29 'New York']
 [123334.88 108679.17 304981.62 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [91992.39 135495.07 252664.93 'California']
 [119943.24 156547.42 256512.92 'Florida']
 [114523.61 122616.84 261776.23 'New York']
 [78013.11 121597.55 264346.06 'California']
 [94657.16 145077.58 282574.31 'New York']
 [91749.16 114175.79 294919.57 'Florida']
 [86419.7 153514.11 0.0 'New York']
 [76253.86 113867.3 298664.47 'California']
 [78389.47 153773.43 299737.29 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [67532.53 105751.03 304768.73 'Florida']
 [77044.01 99281.34 140574.81 'New York']
 [64664.71 139553.16 137962.62 'California']
 [75328.87 144135.98 134050.07 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [66051.52 182645.56 118148.2 'Florida']
 [65605.48 153032.06 107138.38 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [61136.38 152701.92 88218.23 'New York']
 [63408.86 129219.61 46085.25 'California']
 [55493.95 103057.49 214634.81 'Florida']
 [46426.07 157693.92 210797.67 'California']
 [46014.02 85047.44 205517.64 'New York']
 [28663.76 127056.21 201126.82 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [20229.59 65947.93 185265.1 'New York']
 [38558.51 82982.09 174999.3 'California']
 [28754.33 118546.05 172795.67 'California']
 [27892.92 84710.77 164470.71 'Florida']
 [23640.93 96189.63 148001.11 'California']
 [15505.73 127382.3 35534.17 'New York']
 [22177.74 154806.14 28334.72 'California']
 [1000.23 124153.04 1903.93 'New York']
 [1315.46 115816.21 297114.46 'Florida']
 [0.0 135426.92 0.0 'California']
 [542.05 51743.15 0.0 'New York']
 [0.0 116983.8 45173.06 'California']]

In [16]:
print(y)

[192261.83 191792.06 191050.39 182901.99 166187.94 156991.12 156122.51
 155752.6  152211.77 149759.96 146121.95 144259.4  141585.52 134307.35
 132602.65 129917.04 126992.93 125370.37 124266.9  122776.86 118474.03
 111313.02 110352.25 108733.99 108552.04 107404.34 105733.54 105008.31
 103282.38 101004.64  99937.59  97483.56  97427.84  96778.92  96712.8
  96479.51  90708.19  89949.14  81229.06  81005.76  78239.91  77798.83
  71498.49  69758.98  65200.33  64926.08  49490.75  42559.73  35673.41
  14681.4 ]

In [51]:
#we therefore transform the categorical data into continous data using dummy variables
#encoding categorical data

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder

In [52]:
#import the data set afresh
dataset= pd.read_csv(r"C:\Users\HP\Python-Class-Advanced\Assignment8\50_Startups.csv")
X =dataset.iloc[:, :].values
print(X)

[[165349.2 136897.8 471784.1 'New York' 192261.83]
 [162597.7 151377.59 443898.53 'California' 191792.06]
 [153441.51 101145.55 407934.54 'Florida' 191050.39]
 [144372.41 118671.85 383199.62 'New York' 182901.99]
 [142107.34 91391.77 366168.42 'Florida' 166187.94]
 [131876.9 99814.71 362861.36 'New York' 156991.12]
 [134615.46 147198.87 127716.82 'California' 156122.51]
 [130298.13 145530.06 323876.68 'Florida' 155752.6]
 [120542.52 148718.95 311613.29 'New York' 152211.77]
 [123334.88 108679.17 304981.62 'California' 149759.96]
 [101913.08 110594.11 229160.95 'Florida' 146121.95]
 [100671.96 91790.61 249744.55 'California' 144259.4]
 [93863.75 127320.38 249839.44 'Florida' 141585.52]
 [91992.39 135495.07 252664.93 'California' 134307.35]
 [119943.24 156547.42 256512.92 'Florida' 132602.65]
 [114523.61 122616.84 261776.23 'New York' 129917.04]
 [78013.11 121597.55 264346.06 'California' 126992.93]
 [94657.16 145077.58 282574.31 'New York' 125370.37]
 [91749.16 114175.79 294919.57 'Florida' 124266.9]
 [86419.7 153514.11 0.0 'New York' 122776.86]
 [76253.86 113867.3 298664.47 'California' 118474.03]
 [78389.47 153773.43 299737.29 'New York' 111313.02]
 [73994.56 122782.75 303319.26 'Florida' 110352.25]
 [67532.53 105751.03 304768.73 'Florida' 108733.99]
 [77044.01 99281.34 140574.81 'New York' 108552.04]
 [64664.71 139553.16 137962.62 'California' 107404.34]
 [75328.87 144135.98 134050.07 'Florida' 105733.54]
 [72107.6 127864.55 353183.81 'New York' 105008.31]
 [66051.52 182645.56 118148.2 'Florida' 103282.38]
 [65605.48 153032.06 107138.38 'New York' 101004.64]
 [61994.48 115641.28 91131.24 'Florida' 99937.59]
 [61136.38 152701.92 88218.23 'New York' 97483.56]
 [63408.86 129219.61 46085.25 'California' 97427.84]
 [55493.95 103057.49 214634.81 'Florida' 96778.92]
 [46426.07 157693.92 210797.67 'California' 96712.8]
 [46014.02 85047.44 205517.64 'New York' 96479.51]
 [28663.76 127056.21 201126.82 'Florida' 90708.19]
 [44069.95 51283.14 197029.42 'California' 89949.14]
 [20229.59 65947.93 185265.1 'New York' 81229.06]
 [38558.51 82982.09 174999.3 'California' 81005.76]
 [28754.33 118546.05 172795.67 'California' 78239.91]
 [27892.92 84710.77 164470.71 'Florida' 77798.83]
 [23640.93 96189.63 148001.11 'California' 71498.49]
 [15505.73 127382.3 35534.17 'New York' 69758.98]
 [22177.74 154806.14 28334.72 'California' 65200.33]
 [1000.23 124153.04 1903.93 'New York' 64926.08]
 [1315.46 115816.21 297114.46 'Florida' 49490.75]
 [0.0 135426.92 0.0 'California' 42559.73]
 [542.05 51743.15 0.0 'New York' 35673.41]
 [0.0 116983.8 45173.06 'California' 14681.4]]

In [53]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
X[:, 3] = labelEncoder.fit_transform(X[:, 3])

In [54]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

label_encoder_x_1 = LabelEncoder()
X[: , 2] = label_encoder_x_1.fit_transform(X[:,2])
transformer = ColumnTransformer(
    transformers=[
        ("OneHot",        # Just a name
         OneHotEncoder(), # The transformer class
         [1]              # The column(s) to be applied on.
         )
    ],
    remainder='passthrough' # donot apply anything to the remaining columns
)
X = transformer.fit_transform(X.tolist())
X = X.astype('int64')

In [55]:
#Split the data into training set and the test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
random_state = 0)

In [56]:
#Fitting linear regression to the training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [57]:
#Then make a list of the independent values and call this variable X.
#Put the dependent values in a variable called y.
#It is common to name the list of independent values with a upper case X, 
#and the list of dependent values with a lower case y.
X = dataset[['Spend', 'Administration']]
y = dataset['Profit']

In [60]:
print(X)

        Spend  Administration
0   165349.20       136897.80
1   162597.70       151377.59
2   153441.51       101145.55
3   144372.41       118671.85
4   142107.34        91391.77
5   131876.90        99814.71
6   134615.46       147198.87
7   130298.13       145530.06
8   120542.52       148718.95
9   123334.88       108679.17
10  101913.08       110594.11
11  100671.96        91790.61
12   93863.75       127320.38
13   91992.39       135495.07
14  119943.24       156547.42
15  114523.61       122616.84
16   78013.11       121597.55
17   94657.16       145077.58
18   91749.16       114175.79
19   86419.70       153514.11
20   76253.86       113867.30
21   78389.47       153773.43
22   73994.56       122782.75
23   67532.53       105751.03
24   77044.01        99281.34
25   64664.71       139553.16
26   75328.87       144135.98
27   72107.60       127864.55
28   66051.52       182645.56
29   65605.48       153032.06
30   61994.48       115641.28
31   61136.38       152701.92
32   63408.86       129219.61
33   55493.95       103057.49
34   46426.07       157693.92
35   46014.02        85047.44
36   28663.76       127056.21
37   44069.95        51283.14
38   20229.59        65947.93
39   38558.51        82982.09
40   28754.33       118546.05
41   27892.92        84710.77
42   23640.93        96189.63
43   15505.73       127382.30
44   22177.74       154806.14
45    1000.23       124153.04
46    1315.46       115816.21
47       0.00       135426.92
48     542.05        51743.15
49       0.00       116983.80

In [61]:
#will use some methods from the sklearn module, so we will have to import that module as well:
#From the sklearn module we will use the LinearRegression() method to create a linear regression object.
#This object has a method called fit() that takes the independent and dependent values as 
#parameters and fills the regression object with data that describes the relationship:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [62]:
#Now we have a regression object that are ready to predict profits based on Spend and administration costs:
#predict the profits earned where the spend is 2300kg, and the administration cost is is 1300cm3:
predictedprofit = regr.predict([[165349.2, 136897.8]])

In [64]:
#From training data we learn that a Spend of 165349.2 and Administration cost of 136897.8 will provide a profit
#of about 192261.83
#Lets find out from system prediction
print(predictedprofit)

[190182.18051422]

In [ ]:
#Coefficient
#The coefficient is a factor that describes the relationship with an unknown variable.
#Example: if x is a variable, then 2x is x two times. x is the unknown variable, and the number 2 is the coefficient.
#In this case, we can ask for the coefficient value of spend against profit, and for Administration against profit.
#The answer(s) we get tells us what would happen if we increase, or decrease, one of the independent values.

In [65]:
#Print the coefficient values of the regression object
print(regr.coef_)

[ 0.86211798 -0.05299543]

In [ ]:
#Result Explained
#The result array represents the coefficient values of spend and Administration.
#Spend: 0.86211798 Administration: -0.05299543
#These values tell us that if the spend increase by 1 unit, the profit increases by 0.86211798.
#And if the Administration cost increases by 1 unit, the profit declines by -0.05299543.

In [ ]:
#We have already predicted that if a a Spend of 165349.2 and Administration cost of 136897.8 
#will provide a profit of 190182.18051422
#What if we increase the administration by 10000?

In [66]:
#prediction
predictedprofit = regr.predict([[165349.2, 146897.8]])
print(predictedprofit)

[189652.2261953]

In [67]:
#Proof that the coefficient of -0.05299543 is correct
#Original profit + adjusted profit based on new Administration cost
profit= 190182.18051422 + (-0.05299543 * 146897.8)
print(profit)

182397.268437166