In [1]:
import pandas as pd
import numpy as np

In [12]:
#read the excel file
df = pd.read_excel(r'C:\Users\HP\Python-Class-Advanced\Assignment5\kenyagazettedregisterperpollingstation2017.xlsx')
#display the data retrieved from the file
print(df)

       COUNTY CODE COUNTY NAME  CONSTITUENCY CODE CONSTITUENCY NAME  CAW CODE  \
0              1.0     MOMBASA                1.0         CHANGAMWE       1.0
1              1.0     MOMBASA                1.0         CHANGAMWE       1.0
2              1.0     MOMBASA                1.0         CHANGAMWE       1.0
3              1.0     MOMBASA                1.0         CHANGAMWE       1.0
4              1.0     MOMBASA                1.0         CHANGAMWE       1.0
...            ...         ...                ...               ...       ...
40879         49.0     PRISONS              292.0           PRISONS    1451.0
40880         49.0     PRISONS              292.0           PRISONS    1451.0
40881         49.0     PRISONS              292.0           PRISONS    1451.0
40882         49.0     PRISONS              292.0           PRISONS    1451.0
40883          NaN         NaN                NaN               NaN       NaN

         CAW_NAME  REGISTRATION CENTRE CODE     REGISTRATION CENTRE NAME  \
0      PORT REITZ                       1.0          BOMU PRIMARY SCHOOL
1      PORT REITZ                       1.0                          NaN
2      PORT REITZ                       1.0                          NaN
3      PORT REITZ                       1.0                          NaN
4      PORT REITZ                       1.0                          NaN
...           ...                       ...                          ...
40879     PRISONS                     112.0       KAMITI MEDIUM PRISON
40880     PRISONS                     113.0         KAMITI MAIN PRISON
40881     PRISONS                     116.0  NAIROBI REMAND/ALLOCATION
40882     PRISONS                     118.0            KILGORIS PRISON
40883         NaN                       NaN      TOTAL REGISTERED VOTERS

       VOTERS PER REGISTRATION CENTRE  POLLING STATION CODE  \
0                              9625.0          1.001000e+12
1                                 NaN          1.001000e+12
2                                 NaN          1.001000e+12
3                                 NaN          1.001000e+12
4                                 NaN          1.001000e+12
...                               ...                   ...
40879                           160.0          4.929215e+13
40880                           653.0          4.929215e+13
40881                            90.0          4.929215e+13
40882                             9.0          4.929215e+13
40883                      19611423.0                   NaN

            POLLING STATION NAME  VOTERS PER POLLING STATION
0            BOMU PRIMARY SCHOOL                         687
1            BOMU PRIMARY SCHOOL                         688
2            BOMU PRIMARY SCHOOL                         688
3            BOMU PRIMARY SCHOOL                         688
4            BOMU PRIMARY SCHOOL                         688
...                          ...                         ...
40879       KAMITI MEDIUM PRISON                         160
40880         KAMITI MAIN PRISON                         653
40881  NAIROBI REMAND/ALLOCATION                          90
40882            KILGORIS PRISON                           9
40883                        NaN                    19611423

[40884 rows x 12 columns]

In [13]:
#display the last 3 rows in the data set
print(df.tail(3))

       COUNTY CODE COUNTY NAME  CONSTITUENCY CODE CONSTITUENCY NAME  CAW CODE  \
40881         49.0     PRISONS              292.0           PRISONS    1451.0
40882         49.0     PRISONS              292.0           PRISONS    1451.0
40883          NaN         NaN                NaN               NaN       NaN

      CAW_NAME  REGISTRATION CENTRE CODE     REGISTRATION CENTRE NAME  \
40881  PRISONS                     116.0  NAIROBI REMAND/ALLOCATION
40882  PRISONS                     118.0            KILGORIS PRISON
40883      NaN                       NaN      TOTAL REGISTERED VOTERS

       VOTERS PER REGISTRATION CENTRE  POLLING STATION CODE  \
40881                            90.0          4.929215e+13
40882                             9.0          4.929215e+13
40883                      19611423.0                   NaN

            POLLING STATION NAME  VOTERS PER POLLING STATION
40881  NAIROBI REMAND/ALLOCATION                          90
40882            KILGORIS PRISON                           9
40883                        NaN                    19611423

In [16]:
#display the top 3 rows in the dataset
print(df.head(3))

   COUNTY CODE COUNTY NAME  CONSTITUENCY CODE CONSTITUENCY NAME  CAW CODE  \
0          1.0     MOMBASA                1.0         CHANGAMWE       1.0
1          1.0     MOMBASA                1.0         CHANGAMWE       1.0
2          1.0     MOMBASA                1.0         CHANGAMWE       1.0

     CAW_NAME  REGISTRATION CENTRE CODE REGISTRATION CENTRE NAME  \
0  PORT REITZ                       1.0      BOMU PRIMARY SCHOOL
1  PORT REITZ                       1.0                      NaN
2  PORT REITZ                       1.0                      NaN

   VOTERS PER REGISTRATION CENTRE  POLLING STATION CODE POLLING STATION NAME  \
0                          9625.0          1.001000e+12  BOMU PRIMARY SCHOOL
1                             NaN          1.001000e+12  BOMU PRIMARY SCHOOL
2                             NaN          1.001000e+12  BOMU PRIMARY SCHOOL

   VOTERS PER POLLING STATION
0                         687
1                         688
2                         688

In [19]:
#display the essential information relating to the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40884 entries, 0 to 40883
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   COUNTY CODE                     40883 non-null  float64
 1   COUNTY NAME                     40883 non-null  object
 2   CONSTITUENCY CODE               40883 non-null  float64
 3   CONSTITUENCY NAME               40883 non-null  object
 4   CAW CODE                        40883 non-null  float64
 5   CAW_NAME                        40883 non-null  object
 6   REGISTRATION CENTRE CODE        40883 non-null  float64
 7   REGISTRATION CENTRE NAME        24703 non-null  object
 8   VOTERS PER REGISTRATION CENTRE  24703 non-null  float64
 9   POLLING STATION CODE            40883 non-null  float64
 10  POLLING STATION NAME            40883 non-null  object
 11  VOTERS PER POLLING STATION      40884 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 3.7+ MB

In [20]:
#display the count of rows and columns in the data set
df.shape

(40884, 12)

In [21]:
#creating a copy of the dataframe so that there are duplicate entries
temp_df= df.append(df)
temp_df.shape

(81768, 12)

In [22]:
#dropping duplicates
temp_df= temp_df.drop_duplicates()
temp_df.shape

(40884, 12)

In [25]:
#display columns from the datahead
df.columns

Index(['COUNTY CODE', 'COUNTY NAME', 'CONSTITUENCY CODE', 'CONSTITUENCY NAME',
       'CAW CODE', 'CAW_NAME', 'REGISTRATION CENTRE CODE',
       'REGISTRATION CENTRE NAME', 'VOTERS PER REGISTRATION CENTRE',
       'POLLING STATION CODE', 'POLLING STATION NAME',
       'VOTERS PER POLLING STATION'],
      dtype='object')

In [27]:
#selecting a few columns
DataA=df[['POLLING STATION CODE', 'POLLING STATION NAME','VOTERS PER POLLING STATION']]
print(DataA)

       POLLING STATION CODE       POLLING STATION NAME  \
0              1.001000e+12        BOMU PRIMARY SCHOOL
1              1.001000e+12        BOMU PRIMARY SCHOOL
2              1.001000e+12        BOMU PRIMARY SCHOOL
3              1.001000e+12        BOMU PRIMARY SCHOOL
4              1.001000e+12        BOMU PRIMARY SCHOOL
...                     ...                        ...
40879          4.929215e+13       KAMITI MEDIUM PRISON
40880          4.929215e+13         KAMITI MAIN PRISON
40881          4.929215e+13  NAIROBI REMAND/ALLOCATION
40882          4.929215e+13            KILGORIS PRISON
40883                   NaN                        NaN

       VOTERS PER POLLING STATION
0                             687
1                             688
2                             688
3                             688
4                             688
...                           ...
40879                         160
40880                         653
40881                          90
40882                           9
40883                    19611423

[40884 rows x 3 columns]

In [31]:
#checking for missing values and display in a snapshot
df.isnull().sum()

COUNTY CODE                           1
COUNTY NAME                           1
CONSTITUENCY CODE                     1
CONSTITUENCY NAME                     1
CAW CODE                              1
CAW_NAME                              1
REGISTRATION CENTRE CODE              1
REGISTRATION CENTRE NAME          16181
VOTERS PER REGISTRATION CENTRE    16181
POLLING STATION CODE                  1
POLLING STATION NAME                  1
VOTERS PER POLLING STATION            0
dtype: int64

In [32]:
# Add missing values using loc and iloc functions.
#1. Select the column you want to fill
voters_per_reg_centre=df['VOTERS PER REGISTRATION CENTRE']
#2. Display the top 5 elemtnts in the series
print(voters_per_reg_centre)

0            9625.0
1               NaN
2               NaN
3               NaN
4               NaN
            ...
40879         160.0
40880         653.0
40881          90.0
40882           9.0
40883    19611423.0
Name: VOTERS PER REGISTRATION CENTRE, Length: 40884, dtype: float64

In [33]:
#We'll impute the missing values of Voter per registration center using the mean. Here's the mean value:
voter_mean=voters_per_reg_centre.mean()
print(voter_mean)

1587.7766263206897

In [34]:
#With the mean, let's fill the nulls using fillna():
voters_per_reg_centre.fillna(voter_mean,inplace=True)

In [35]:
#checking for missing values again
df.isnull().sum()

COUNTY CODE                           1
COUNTY NAME                           1
CONSTITUENCY CODE                     1
CONSTITUENCY NAME                     1
CAW CODE                              1
CAW_NAME                              1
REGISTRATION CENTRE CODE              1
REGISTRATION CENTRE NAME          16181
VOTERS PER REGISTRATION CENTRE        0
POLLING STATION CODE                  1
POLLING STATION NAME                  1
VOTERS PER POLLING STATION            0
dtype: int64

In [29]:
#dropping the 2 columns that are not essential here - registration center code and voters per registration centre
df.dropna(axis=1)

       VOTERS PER POLLING STATION
0                             687
1                             688
2                             688
3                             688
4                             688
...                           ...
40879                         160
40880                         653
40881                          90
40882                           9
40883                    19611423

[40884 rows x 1 columns]

In [30]:
#get a summary of the distribution of continuous variables:
df.describe()

,COUNTY CODE,CONSTITUENCY CODE,CAW CODE,REGISTRATION CENTRE CODE,VOTERS PER REGISTRATION CENTRE,POLLING STATION CODE,VOTERS PER POLLING STATION
count,40883.000000,40883.000000,40883.000000,40883.000000,2.470300e+04,4.088300e+04,4.088400e+04
mean,27.163369,149.290952,745.312453,45.047477,1.587777e+03,2.731273e+13,9.593691e+02
std,13.572053,83.200865,421.131057,36.708428,1.247777e+05,1.365502e+13,9.698898e+04
min,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.001000e+12,1.000000e+00
25%,16.000000,80.000000,395.000000,16.000000,3.030000e+02,1.608004e+13,3.790000e+02
50%,28.000000,148.000000,735.000000,37.000000,5.210000e+02,2.814807e+13,5.020000e+02
75%,39.000000,220.500000,1103.500000,65.000000,8.660000e+02,3.922061e+13,6.190000e+02
max,49.000000,292.000000,5004.000000,226.000000,1.961142e+07,4.929215e+13,1.961142e+07

In [36]:
#determining if there is any relationship between variables
df.corr()

,COUNTY CODE,CONSTITUENCY CODE,CAW CODE,REGISTRATION CENTRE CODE,VOTERS PER REGISTRATION CENTRE,POLLING STATION CODE,VOTERS PER POLLING STATION
COUNTY CODE,1.000000,0.996647,0.987660,-0.148746,0.120896,1.000000,0.178307
CONSTITUENCY CODE,0.996647,1.000000,0.991274,-0.167570,0.135327,0.996687,0.195255
CAW CODE,0.987660,0.991274,1.000000,-0.165293,0.133451,0.987702,0.192156
REGISTRATION CENTRE CODE,-0.148746,-0.167570,-0.165293,1.000000,-0.251681,-0.148864,-0.337396
VOTERS PER REGISTRATION CENTRE,0.120896,0.135327,0.133451,-0.251681,1.000000,0.120987,0.999953
POLLING STATION CODE,1.000000,0.996687,0.987702,-0.148864,0.120987,1.000000,0.178414
VOTERS PER POLLING STATION,0.178307,0.195255,0.192156,-0.337396,0.999953,0.178414,1.000000

In [41]:
#Conditional selection
#get polling stations with less than 600 voters
df[df['VOTERS PER POLLING STATION'] <600].head(5)

,COUNTY CODE,COUNTY NAME,CONSTITUENCY CODE,CONSTITUENCY NAME,CAW CODE,CAW_NAME,REGISTRATION CENTRE CODE,REGISTRATION CENTRE NAME,VOTERS PER REGISTRATION CENTRE,POLLING STATION CODE,POLLING STATION NAME,VOTERS PER POLLING STATION
21,1.0,MOMBASA,1.0,CHANGAMWE,1.0,PORT REITZ,3.0,LILONGWE GARDEN,2989.000000,1.001000e+12,LILONGWE GARDEN,597
22,1.0,MOMBASA,1.0,CHANGAMWE,1.0,PORT REITZ,3.0,NaN,1587.776626,1.001000e+12,LILONGWE GARDEN,598
23,1.0,MOMBASA,1.0,CHANGAMWE,1.0,PORT REITZ,3.0,NaN,1587.776626,1.001000e+12,LILONGWE GARDEN,598
24,1.0,MOMBASA,1.0,CHANGAMWE,1.0,PORT REITZ,3.0,NaN,1587.776626,1.001000e+12,LILONGWE GARDEN,598
25,1.0,MOMBASA,1.0,CHANGAMWE,1.0,PORT REITZ,3.0,NaN,1587.776626,1.001000e+12,LILONGWE GARDEN,598

In [42]:
#get polling stations =CAPE TOWN GROUND
df[df['POLLING STATION NAME'] =='CAPE TOWN GROUND'].head(5)

,COUNTY CODE,COUNTY NAME,CONSTITUENCY CODE,CONSTITUENCY NAME,CAW CODE,CAW_NAME,REGISTRATION CENTRE CODE,REGISTRATION CENTRE NAME,VOTERS PER REGISTRATION CENTRE,POLLING STATION CODE,POLLING STATION NAME,VOTERS PER POLLING STATION
40,1.0,MOMBASA,1.0,CHANGAMWE,2.0,KIPEVU,7.0,CAPE TOWN GROUND,4189.000000,1.001000e+12,CAPE TOWN GROUND,698
41,1.0,MOMBASA,1.0,CHANGAMWE,2.0,KIPEVU,7.0,NaN,1587.776626,1.001000e+12,CAPE TOWN GROUND,699
42,1.0,MOMBASA,1.0,CHANGAMWE,2.0,KIPEVU,7.0,NaN,1587.776626,1.001000e+12,CAPE TOWN GROUND,698
43,1.0,MOMBASA,1.0,CHANGAMWE,2.0,KIPEVU,7.0,NaN,1587.776626,1.001000e+12,CAPE TOWN GROUND,698
44,1.0,MOMBASA,1.0,CHANGAMWE,2.0,KIPEVU,7.0,NaN,1587.776626,1.001000e+12,CAPE TOWN GROUND,698

In [48]:
# Drawing a graph
import matplotlib.pyplot as plt
#plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)}) # set font and plot size to be larger

In [52]:
#obtain aggregates based on county name and total number of voters per polling station
df[['COUNTY NAME','VOTERS PER POLLING STATION']].groupby(['COUNTY NAME']).agg(['sum'])

                VOTERS PER POLLING STATION
                                       sum
COUNTY NAME
BARINGO                             232258
BOMET                               322012
BUNGOMA                             559850
BUSIA                               351048
DIASPORA                              4393
ELGEYO/MARAKWET                     180664
EMBU                                309468
GARISSA                             163350
HOMA BAY                            476875
ISIOLO                               75338
KAJIADO                             411193
KAKAMEGA                            743736
KERICHO                             375668
KIAMBU                             1180920
KILIFI                              508068
KIRINYAGA                           349836
KISII                               546580
KISUMU                              539210
KITUI                               474512
KWALE                               281041
LAIKIPIA                            246487
LAMU                                 69776
MACHAKOS                            620254
MAKUENI                             423310
MANDERA                             175642
MARSABIT                            141708
MERU                                702480
MIGORI                              388633
MOMBASA                             580223
MURANG'A                            587126
NAIROBI CITY                       2250853
NAKURU                              949618
NANDI                               346007
NAROK                               341730
NYAMIRA                             278853
NYANDARUA                           335634
NYERI                               456949
PRISONS                               5528
SAMBURU                              82787
SIAYA                               457953
TAITA TAVETA                        155716
TANA RIVER                          118327
THARAKA - NITHI                     213154
TRANS NZOIA                         339622
TURKANA                             191435
UASIN GISHU                         450055
VIHIGA                              272409
WAJIR                               162902
WEST POKOT                          180232

In [53]:
#Draw graph based on grouped data 
graph1= df[['COUNTY NAME','VOTERS PER POLLING STATION']].groupby(['COUNTY NAME']).agg(['sum'])
print(graph1)

                VOTERS PER POLLING STATION
                                       sum
COUNTY NAME
BARINGO                             232258
BOMET                               322012
BUNGOMA                             559850
BUSIA                               351048
DIASPORA                              4393
ELGEYO/MARAKWET                     180664
EMBU                                309468
GARISSA                             163350
HOMA BAY                            476875
ISIOLO                               75338
KAJIADO                             411193
KAKAMEGA                            743736
KERICHO                             375668
KIAMBU                             1180920
KILIFI                              508068
KIRINYAGA                           349836
KISII                               546580
KISUMU                              539210
KITUI                               474512
KWALE                               281041
LAIKIPIA                            246487
LAMU                                 69776
MACHAKOS                            620254
MAKUENI                             423310
MANDERA                             175642
MARSABIT                            141708
MERU                                702480
MIGORI                              388633
MOMBASA                             580223
MURANG'A                            587126
NAIROBI CITY                       2250853
NAKURU                              949618
NANDI                               346007
NAROK                               341730
NYAMIRA                             278853
NYANDARUA                           335634
NYERI                               456949
PRISONS                               5528
SAMBURU                              82787
SIAYA                               457953
TAITA TAVETA                        155716
TANA RIVER                          118327
THARAKA - NITHI                     213154
TRANS NZOIA                         339622
TURKANA                             191435
UASIN GISHU                         450055
VIHIGA                              272409
WAJIR                               162902
WEST POKOT                          180232

In [ ]:
df.plot(kind='bar', x='COUNTY NAME', y='VOTERS PER POLLING STATION', title='VOTERS PER COUNTY');